<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    {% load crispy_forms_tags %}-->
    <title>Home-amzn</title>
</head>
<body>
    <center>
        <div>
               <h1>Main Image and Variants Download</h1>
                <form method="POST" class="mt-5">
                    <div class="form-control">
                    {% csrf_token %}
                    {{ form.as_p }}
                    </div>
                    <br>
                <button class="btn btn-primary" type="submit">Bulk Download</button>
                </form>
        </div>
    </center>
</body>
</html>